# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vcxproj.filters
*.sln
[Dd]ebug*/
[Rr]elease*/

# OSX/Linux build products
*.DS_Store
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
sp/src/devtools/makefile_base_posix.mak.link
!utils/smdlexp/smdlexp.mak
*_osx32*

# Specific Source build products
client.pdb
client.dll
client.lib
server.pdb
server.dll
server.lib

client.so
client.so.dbg
server.so
server.so.dbg
server_srv.so
server_srv.so.dbg

client.dylib
client.dylib.dSYM/
server.dylib
server.dylib.dSYM/

*.vpc.sentinel
*.vpc_crc
**/generated_proto/**
**/src/utils/sapi51/**
**/game/**/bin/**
**/game/**/custom/**
**/game/**/maps/**
**/game/**/bin/**
**/game/**/download/**
**/game/**/downloadlists/**
**/game/**/user_custom/**
**/game/**/cfg/config.cfg
**/game/**/cfg/settings.scr
**/game/**/cfg/user.scr
**/game/**/*.vpk
**/game/**/*.lnk
**/game/**/voice_ban.dt
**/game/**/stats.txt
**/game/**/serverconfig.vdf
**/game/**/demoheader.tmp
**/game/**/*.sound.cache
**/game/**/*.cache
**/game/**/textwindow_temp.html

# shader files
*.tmp

*.opendb
*.db
*.db-shm
*.db-wal
*.bak
